@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}
header{
    background-color: #F5F5F6;
    font-weight: 500;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.header-container{
    display: flex;
    justify-content: space-around;
}
.menu-container{
    font-size: 13px;
    margin-left: 8vw;
    padding-top: 13px;
    color: #959BA4;
    letter-spacing: 1px;
}
.menu-container :first-child{
    color: black;
}
.logo-container img{
    margin-left: 6vw;
    padding-top: 5px;
}
.list{
    display: flex;
    list-style-type: none;
}
.list li{
    margin-right: 2.2vw;
    color: #959BA4;
}
.list:first-child{
    margin-left: 0;
    color: black;
}
.list:last-child{
    margin-right: 5vw;
}
.login{
    padding: 10px;
    margin-right: 10vw;
    height: 40px;
    border-radius: 7px;
    background-color: white;
}
h1{
    font-size: 45.8px;
}


button{
    border: none;
    background-color: white;
    color: #959BA4;
    font-size: 15px;
    border-right: 1px solid #E5E5E5;
}
.button-one :first-child, .button-two :first-child{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.button-one :last-child, .button-two :last-child{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.choice{
    background-color: #833AE0;
    color: white;
}
.button-one , .button-two{
    width: 320px;
    height: 38px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    margin-top: 8px;
}
.main-container{
    margin-left: 70px;
    width: 800px;
}
main{
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.input-header p{
    font-size: 14px;
    display: inline;
}
.input-header{
    margin-top: 35px;
    color: #9F9F9F;
}
.buttons{
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.input-one, .input-two{
    margin-top: 20px;
    width: 320px;
    height: 120px;
    border: 1px solid #E5E5E5;
}
.input-one, .input-two{
    margin-top: 20px;
    width: 320px;
    height: 120px;
    border: 1px solid #E5E5E5;
}
.input-one p{
    color: #E5E5E5;
    display: flex;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 16px;
}
.input-two p{
    color: #E5E5E5;
    display: flex;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 16px;
}
input{
    margin-top: 15px;
    font-weight: 600;
    width: 250px;
    margin-left: 14px;
    height: 40px;
    border: none;
    font-size: 36px;
}

input:focus{
    outline: none;
}

.burger-menu{
    display: none;
}
.list-burger{
    display: none;
}
.internet{
    background-color: hsla(0, 85%, 69%, 0.5);
    width: 14vw;
    padding: 10px 0 10px 25px;
    font-size: 1.2vw;
    display: flex;
    margin-top: 25px;
    gap: 10px;
}
.internet img{
   width: 1.5vw;
}
.disnone{
    display: none !important;
}
@media screen and (min-width: 1010px) and (max-width: 1200px) {
    .internet{
        background-color: hsla(0, 85%, 69%, 0.5);
        width: 17vw;
        padding: 10px 0 10px 25px;
        font-size: 1.4vw;
        display: flex;
        margin-top: 25px;
        gap: 10px;
    }
    .internet img{
        width: 1.8vw;
    }
    .menu-container{
        font-size: 13px;
        margin-left: 2vw;
        padding-top: 13px;
        color: #959BA4;
        letter-spacing: 1px;
    }
    .list :first-child{
        margin-left: 0;
    }
    .list :last-child{
        margin-right: 0;
    }
    .header-container{
        display: flex;
        flex-direction: row;
    }
    .logo-container img {
        margin-left: 3vw;
        padding-top: 5px;
    }
    .login {
        padding: 10px;
        margin-right: 1vw;
        border-radius: 7px;
        background-color: white;
    }
}
@media screen and (min-width: 920px) and (max-width: 1010px) {
    .internet{
        background-color: hsla(0, 85%, 69%, 0.5);
        width: 17vw;
        padding: 10px 0 10px 25px;
        font-size: 1.4vw;
        display: flex;
        margin-top: 25px;
        gap: 10px;
    }
    .internet img{
        width: 1.8vw;
    }
    .menu-container{
        font-size: 13px;
        margin-left: 2vw;
        padding-top: 13px;
        color: #959BA4;
        letter-spacing: 1px;
    }
    .list :first-child{
        margin-left: 0;
    }
    .list :last-child{
        margin-right: 0;
    }
    .header-container{
        display: flex;
        flex-direction: row;
    }
    .login {
        padding: 10px;
        margin-right: 1vw;
        border-radius: 7px;
        background-color: white;
    }
    .logo-container img {
        margin-left: 3vw;
        padding-top: 5px;
    }
}

@media screen and (min-width: 600px) and (max-width: 920px) {
    .list{
        display: none;
    }
    .burger-menu{
        display: block;
        margin-left: 50vw;
    }
    .login {
        padding: 10px;
        margin-right: 1vw;
        border-radius: 7px;
        background-color: white;
    }
    .buttons{
        margin-top: 7px;
        display: flex;
        flex-direction: column;
    }
    h1{
        font-size: 45.8px;
    }
    .input-two{
        margin-bottom: 30px;
    }
    .main-container{
        margin-left: 8vw;
        width: 80vw;
    }
    .internet{
        background-color: hsla(0, 85%, 69%, 0.5);
        width: 40vw;
        padding: 10px 0 10px 4vw;
        font-size: 3.5vw;
        display: flex;
        margin-top: 25px;
        gap: 10px;
        margin-bottom: 10px;
    }
    .internet img{
        width: 4.5vw;
    }
    .list-burger{
        font-size: 13px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin-left: 40vw;
    }
    .burger{
        margin-top: 0;
        display: flex;
        justify-self: end;
        margin-right: 5vw;
    
    }
}
@media screen and (min-width: 470px) and (max-width: 600px) {
    .list{
        display: none;
    }
    .burger-menu{
        display: block;
        margin-left: 40vw;
        width: 30px;
    }
    .login {
        padding: 10px;
        margin-right: 1vw;
        border-radius: 7px;
        background-color: white;
    }
    .buttons{
        margin-top: 7px;
        display: flex;
        flex-direction: column;
    }
    h1{
        font-size: 45.8px;
    }
    .input-two{
        margin-bottom: 30px;
    }
    .main-container{
        margin-left: 8vw;
        width: 80vw;
    }
    .internet{
        background-color: hsla(0, 85%, 69%, 0.5);
        width: 40vw;
        padding: 10px 0 10px 4vw;
        font-size: 3.5vw;
        display: flex;
        margin-top: 25px;
        gap: 10px;
        margin-bottom: 10px;
    }
    .internet img{
        width: 4.5vw;
    }
    .list-burger{
        font-size: 13px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin-left: 30vw;
    }
    .burger{
        margin-top: 0;
        display: flex;
        justify-self: end;
        margin-right: 5vw;
    
    }
}

@media screen and (min-width: 370px) and (max-width: 470px) {
    .list{
        display: none;
    }
    .burger-menu{
        display: block;
        margin-left: 30vw;
        width: 30px;
    }
    .login {
        padding: 10px;
        margin-right: 1vw;
        border-radius: 7px;
        background-color: white;
    }
    .buttons{
        margin-top: 7px;
        display: flex;
        flex-direction: column;
        width: 320px;
    }
    h1{
        font-size: 40px;
    }
    .input-two{
        margin-bottom: 30px;
    }
    .main-container{
        margin-left: 0;
        width: 70vw;
    }
    main{
        margin-left: 5vw;
        margin-top: 70px;
        display: flex;
        align-items: flex-start;
    }
    .internet{
        background-color: hsla(0, 85%, 69%, 0.5);
        width: 40vw;
        padding: 10px 0 10px 4vw;
        font-size: 3.5vw;
        display: flex;
        margin-top: 25px;
        gap: 10px;
        margin-bottom: 10px;
    }
    .internet img{
        width: 4.5vw;
    }
    .list-burger{
        font-size: 13px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin-left: 20vw;
    }
    .burger{
        margin-top: 0;
        display: flex;
        justify-self: end;
        margin-right: 5vw;
    
    }
}
@media screen and (min-width: 320px) and (max-width: 370px) {
    .list{
        display: none;
    }
    .burger-menu{
        display: block;
        margin-left: 15vw;
        width: 30px;
    }
    .login {
        padding: 10px;
        margin-right: 1vw;
        border-radius: 7px;
        background-color: white;
    }
    .buttons{
        margin-top: 7px;
        display: flex;
        flex-direction: column;
        width: 320px;
    }
    h1{
        font-size: 30px;
    }
    .input-two{
        margin-bottom: 30px;
    }
    .main-container{
        margin-left: 0;
        width: 70vw;
    }
    main{
        margin-left: 2px;
        margin-top: 70px;
        display: flex;
        align-items: flex-start;
    }
    .internet{
        background-color: hsla(0, 85%, 69%, 0.5);
        width: 40vw;
        padding: 10px 0 10px 4vw;
        font-size: 3.5vw;
        display: flex;
        margin-top: 25px;
        gap: 10px;
        margin-bottom: 10px;
    }
    .internet img{
        width: 4.5vw;
    }
    .list-burger{
        font-size: 13px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin-left: 10vw;
    }
    .burger{
        margin-top: 0;
        display: flex;
        justify-self: end;
        margin-right: 5vw;
    
    }
}